<%= render 'layouts/banner'%>
<div id="hero" class="home shade">
  <div class="container">
    <div class="hero-text">
      <div class="row">
        <div class="col-md-4">
          <img class="logo" src="<%= asset_path('logo-white.svg')%>">
        </div>
        <div class="col-md-8">
          <p>Millions of people around the world living with limb-loss do not have access to prosthetic care.</strong>
          </p>
          <br/>
          <p>ECF builds intuitive 3D tools for clinicians to quickly provide patients with high-quality and cost-effective 3D printed prosthetic devices.</p>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="KGUZV29WYZP92">
          <button>Donate Today</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="mission" class="area gray">
  <div class="container">
    <h2 class="header">What We Do</h2>
    <p class="subheader">Our Mission</p>
    <p>
      ECF develops culturally appropriate, high performance prostheses,
      builds tools for the clinicians to configure these devices, and then trains local clinicians
      to manufacture and fit the devices.  We believe that this is a rapidly deployable and scalable
      approach to the growing and unmet need of low cost prosthetic care for those currently without access.
    </p>
  </div>
</div>
<div id="limbforge" class="area">
  <div class="container">
  <div class="row">
      <div class="col-md-8">
        <h2 class="header">Introducing LimbForge<span class="tm">TM</span></h2>
        <p class="subheader">Deployable Prosthetic Technology</p>
        <p>
          LimbForge is a powerful new tool for clinicians for configuring and manufacturing 3D printed prosthetics.
          It enables clinicians to spend less time building devices, dramatically simplifies supply chains, and
          delivers ultra light-weight, culturally-contextual prostheses to populations who need them most.
          In addition to designs by ECF, LimbForge can be used to size and deploy partner designs.  Once in LimbForge,
          a prosthetic can be customized to any human anatomy on Earth.
        </p>
      </div>
      <div class="col-md-4">
        <br/>
        <img src="<%=asset_path('ipad.jpg') %>">
      </div>
    </div>
  </div>
</div>

<div class="area gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="header">Stay in Touch</h2>
        <p class="subheader">Join our Mailing List</p>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="//enablecommunityfoundation.us13.list-manage.com/subscribe/post?u=a38bf719c51f108ba3c4a8be8&amp;id=45c26c704c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
            <div class="row">
              <div class="col-sm-3 col-xs-12">
                <p>FIRST NAME</p>
                <input type="text" value="" class="" placeholder="" name="FNAME" id="mce-FNAME">
              </div>
              <div class="col-sm-3 col-xs-12">
                <p>LAST NAME</p>
                <input class="" type="text" placeholder="" value="" name="LNAME" id="mce-LNAME">
              </div>
              <div class="col-sm-3 col-xs-12">
                <p>EMAIL</p>
                <input class="full-input" type="email" value="" placeholder="" name="EMAIL" id="mce-EMAIL">
              </div>

              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_f6c89e3652944c4095fdc687f_8839b7db22" tabindex="-1" value=""></div>
              <div class="col-sm-3 col-xs-12">
                <div class="clear submit-button"><input class="full-input" type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe"></div>
              </div>
            </div>
          </form>
        </div>
        <!--End mc_embed_signup-->
      </div>
    </div>
  </div>
</div>

<div id="sponsors" class="area">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="header">Our Supporters</p>
        <p class="subheader">Advancing The Mission</p>
        <div class="sponsors">
          <% sponsors.each do |sponsor|%>
            <a class="sponsor" href="<%= sponsor[:link]%>" target="_blank">
              <div class="col-sm-5ths col-xs-6">
                <div class="sponsor-img <%= sponsor[:class] %>" style="background-image: url(<%= asset_path(sponsor[:logo]) %>)"></div>
              </div>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contact" class="area">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="header">Get Involved</h2>
        <p class="subheader">Contact Us</p>
      </div>
      <div class="hay-form">
        <%= form_for @contact do |f| %>
          <div class="col-sm-6">
            <%= f.label :NAME%>
            <%= f.text_field :name, required: true, placeholder: 'Name' %>
          </div>
          <div class="col-sm-6">
            <%= f.label :email%>
            <%= f.email_field :email, required: true, placeholder: 'Email'%>
          </div>
          <div class="col-md-12">
            <%= f.label :message%>
            <%= f.text_area :message, as: :text, placeholder: 'Enter Message Here' %>
          </div>
          <div class="hidden">
            <%= f.label :nickname%>
            <%= f.email_field :nickname, hint: "leave this blank, dude" %>
          </div>
          <div class="col-md-12">
            <%= f.submit 'Submit'%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
