<div id="hero" class="home shade">
  <div class="hero-text">
    <h1>ECF</h1>
    <p>Custom 3D printble prosthetics</p>
  </div>
</div>
<div id="mission" class="area gray">
  <div class="container">
    <p class="subheader">OUR MISSION</p>
    <h2 class="header">We want to help people</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet sodales leo.
      Suspendisse pharetra scelerisque felis quis feugiat. Aenean molestie diam et dui tempus,
      id pulvinar odio euismod. Nulla tempus mattis laoreet. Curabitur eleifend, enim vel
      porttitor sodales, felis velit dapibus odio, ac malesuada leo metus sed nisl. Nam
      faucibus at nisl vestibulum porttitor. Integer pellentesque purus urna, viverra efficitur.
    </p>
  </div>
</div>
<div id="limbforge" class="area">
  <div class="container">
  <div class="row">
      <div class="col-md-6">
        <p class="subheader">OUR TOOL</p>
        <h2 class="header">Meet Limbforge</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet sodales leo.
          Suspendisse pharetra scelerisque felis quis feugiat. Aenean molestie diam et dui tempus,
          id pulvinar odio euismod. Nulla tempus mattis laoreet. Curabitur eleifend, enim vel
          porttitor sodales, felis velit dapibus odio, ac malesuada leo metus sed nisl. Nam
          faucibus at nisl vestibulum porttitor. Integer pellentesque purus urna, viverra efficitur.
        </p>
        <button>VISIT WEBSITE</button>
      </div>
      <div class="col-md-6">
        <img src="<%=asset_path('ipad.jpg') %>">
      </div>
    </div>
  </div>
</div>

<div id="contact" class="area gray">
  <div class="container">
    <div class="row">
      <p class="subheader">GET INVOLVED</p>
      <h2 class="header">Join our Mailing List</h2>
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="//enablecommunityfoundation.us13.list-manage.com/subscribe/post?u=a38bf719c51f108ba3c4a8be8&amp;id=45c26c704c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
          <div class="row">
            <div class="col-sm-3 col-xs-12">
              <p>FIRST NAME</p>
              <input type="text" value="" class="" placeholder="Hansel" name="FNAME" id="mce-FNAME">
            </div>
            <div class="col-sm-3 col-xs-12">
              <p>LAST NAME</p>
              <input class="" type="text" placeholder="Hova" value="" name="LNAME" id="mce-LNAME">
            </div>
            <div class="col-sm-3 col-xs-12">
              <p>EMAIL</p>
              <input class="full-input" type="email" value="" placeholder="Hova@email.com" name="EMAIL" id="mce-EMAIL">
            </div>

            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_f6c89e3652944c4095fdc687f_8839b7db22" tabindex="-1" value=""></div>
            <div class="col-sm-3 col-xs-12">
              <div class="clear submit-button"><input class="full-input" type="submit" value="Huzzah!" name="subscribe" id="mc-embedded-subscribe"></div>
            </div>
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
    </div>
  </div>
</div>

<div class="area">
  <div class="container">
    <div class="row">
      <p class="subheader">SPONSORS</p>
      <div class="sponsors">
        <% sponsors.each do |sponsor|%>
          <a class="sponsor" href="<%= sponsor[:link]%>" target="_blank">
            <div class="col-sm-3 col-xs-6">
              <img class="<%= sponsor[:class] %>" src="<%= asset_path(sponsor[:logo]) %>">
            </div>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="sayhey">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Say hey!</h1>
        <p>Do you have a project or want to get coffee? Are interested in having a new "laptop party" buddy or have a job proposal? Want to high five over the internet? I am currently based out of the Bay area (San Francisco / Berkeley), and would love to chat.</p>
      </div>
      <div class="hay-form col-xs-12">
        <%= form_for @contact do |f| %>
          <div class="col-sm-6">
            <%= f.label :name%>
            <%= f.text_field :name, required: true, placeholder: 'Ludwig von Mozart' %>
          </div>
          <div class="col-sm-6">
            <%= f.label :email%>
            <%= f.email_field :email, required: true, placeholder: 'Ludwig@mozart.com'%>
          </div>
          <div class="col-md-12">
            <%= f.label :message%>
            <%= f.text_area :message, as: :text, placeholder: 'What\'s up?' %>
          </div>
          <div class="hidden">
            <%= f.label :nickname%>
            <%= f.email_field :nickname, hint: "leave this blank, dude" %>
          </div>
          <div class="col-md-12">
            <%= f.submit 'yay!'%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
