<div id="hero" class="home shade">
  <div class="hero-text">
    <img width="37%" src="<%= asset_path('logo-white.svg')%>">
  </div>
</div>
<div id="mission" class="area gray">
  <div class="container">
    <p class="subheader">OUR MISSION</p>
    <h2 class="header">What We Do</h2>
    <p>
      Crowdsourcing the design and manufacture of 3D printed prosthetics has failed to deliver
      impactful results.  ECF develops culturally appropriate, high performance prostheses,
      builds tools for the clinicians to configure these devices, and then trains local clinicians
      to manufacture and fit the devices.  We believe that this is a rapidly deployable and scalable
      approach to the growing and unmet need of low cost prosthetic care for those currently without access.
    </p>
  </div>
</div>
<div id="limbforge" class="area">
  <div class="container">
  <div class="row">
      <div class="col-md-6">
        <p class="subheader">DEPLOYABLE PROSTHETIC TECHNOLOGY</p>
        <h2 class="header">Introducing LimbForge(tm)</h2>
        <p>
          LimbForge is a powerful new tool for clinicians for configuring and manufacturing 3D printed prosthetics.
          It enables clinicians to spend less time building devices, dramatically simplifies supply chains, and
          delivers ultra light-weight, culturally-contextual prostheses to populations who need them most.
          In addition to designs by ECF, LimbForge can be used to size and deploy partner designs.  Once in LimbForge,
          a prosthetic can be customized to any human anatomy on Earth.
        </p>
      </div>
      <div class="col-md-6">
        <img src="<%=asset_path('ipad.jpg') %>">
      </div>
    </div>
  </div>
</div>

<div class="area gray">
  <div class="container">
    <div class="row">
      <p class="subheader">STAY IN TOUCH</p>
      <h2 class="header">Join our Mailing List</h2>
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="//enablecommunityfoundation.us13.list-manage.com/subscribe/post?u=a38bf719c51f108ba3c4a8be8&amp;id=45c26c704c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
          <div class="row">
            <div class="col-sm-3 col-xs-12">
              <p>FIRST NAME</p>
              <input type="text" value="" class="" placeholder="Hansel" name="FNAME" id="mce-FNAME">
            </div>
            <div class="col-sm-3 col-xs-12">
              <p>LAST NAME</p>
              <input class="" type="text" placeholder="Hova" value="" name="LNAME" id="mce-LNAME">
            </div>
            <div class="col-sm-3 col-xs-12">
              <p>EMAIL</p>
              <input class="full-input" type="email" value="" placeholder="Hova@email.com" name="EMAIL" id="mce-EMAIL">
            </div>

            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_f6c89e3652944c4095fdc687f_8839b7db22" tabindex="-1" value=""></div>
            <div class="col-sm-3 col-xs-12">
              <div class="clear submit-button"><input class="full-input" type="submit" value="Huzzah!" name="subscribe" id="mc-embedded-subscribe"></div>
            </div>
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
    </div>
  </div>
</div>

<div class="area">
  <div class="container">
    <div class="row">
      <p class="subheader">SPONSORS</p>
      <div class="sponsors">
        <% sponsors.each do |sponsor|%>
          <a class="sponsor" href="<%= sponsor[:link]%>" target="_blank">
            <div class="col-sm-3 col-xs-6">
              <img class="<%= sponsor[:class] %>" src="<%= asset_path(sponsor[:logo]) %>">
            </div>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="contact" class="area">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="subheader">GET INVOLVED</p>
        <h2 class="header">CONTACT US</h2>
      </div>
      <div class="hay-form">
        <%= form_for @contact do |f| %>
          <div class="col-sm-6">
            <%= f.label :NAME%>
            <%= f.text_field :name, required: true, placeholder: 'Name' %>
          </div>
          <div class="col-sm-6">
            <%= f.label :email%>
            <%= f.email_field :email, required: true, placeholder: 'Email'%>
          </div>
          <div class="col-md-12">
            <%= f.label :message%>
            <%= f.text_area :message, as: :text, placeholder: 'Enter Message Here' %>
          </div>
          <div class="hidden">
            <%= f.label :nickname%>
            <%= f.email_field :nickname, hint: "leave this blank, dude" %>
          </div>
          <div class="col-md-12">
            <%= f.submit 'yay!'%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
