<div id="top-nav">
  <a href="<%= root_path%>">
    <img src="<%=asset_path('logo.svg') %>">
  </a>
  <ul>
    <a href="<%= root_path + '#mission' %>">
      <li>Mission</li>
    </a>
    <a href="<%= root_path + '#limbforge'%>">
      <li>LimbForge</li>
    </a>
    <a href="<%= root_path + '#contact' %>">
      <li>Contact</li>
    </a>
  </ul>
</div>
